/* Global */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color:  #4A4B4C;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
*:focus {
  outline: 2px dashed blue;
  outline-offset: 3px;
}


/* main */
.main-link {
  display: block;
  padding: 0;
  margin: 0;
}
.main-link-item {
  padding:13px 20px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  background-color:#7296EC;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.main-link-item:hover {
  opacity: 0.8;
}
.main-link-item:active {
  opacity: 0.6;
}
/* rubik 400,500,700t */
/* search */
.global-search {
  margin-right: 25px;
}
.input-search {
  border: 0;
  font-size: 14px;
  line-height: normal;
  padding-left: 40px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 13px;
  border-radius: 60px;
  background-image: url(img/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px center;
}

/* site header */
.site-header {
}
.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}
.site-header-top-container {
  display: flex;
  align-items: center;
}


.site-header-logo {
  padding: 9px 8px;
  display: flex;
  background-color: #fff;
  border-radius: 7px;
}
.site-header-logo:hover {
  opacity: 0.8;
}
.site-header-logo:active {
  opacity: 0.6;
}


/* dollar */
.dollar-sum {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: 30px;
}
.dollar-sum-list {
  margin-right: 30px;
}
.dollar-sum-logo:not(:last-child) {
  margin-right: 5px;
}
.dollar-sum-logo {
  color:#2959ce ;

}
.dollar-sum-narx {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  text-align: left;
}


/* languange */
.header-languange {
  background-color:#DCE6FF;
  display: flex;
  margin-right: 25px;
  padding: 3px;
  border-radius: 39px;
}
.header-languange-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-decoration: none;
  color: #A6A6A6;

}
.header-languange-item-active {
  background-color: #fff;
  border-radius: 50px;
  color: #111;
}



/* SITENAV */
.sitenav {
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 15px;
  padding-top: 25px;
}
.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sitenavitem {
  margin-top: 5px;
  margin-bottom: 5px;
}
.sitenavitem:not(:last-child) {
  margin-right: 45px;
}
.sitenav-link {
  display: block;
  text-decoration: none;
  color: #7f7f7f;
  font-weight: 500;
  line-height: 23px;
}
.sitenav-link:hover {
  color: #7296ae;
}
.sitenav-link:active {
  opacity: 0.6;
}



/* site-headeer IMG  */
.img-iphone {
  padding-top: 40px;
}
.img-iphone-list {
  display: flex;
}
.img-iphone-item {
}


/* Main */
.main-content {
  flex-grow: 1;
  padding-top: 50px;
}
.top-news-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}
.top-news-item {
  width: 393px;
  margin-right: -10px;
}
.article-card {
  background-color: #f6f6f6;
  padding: 20px 17px 15px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.top-news-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 12px;

}
.top-news-link {
  font-weight: 500px;
  color: #000;
  font-family: "Rubik", "Arila", "sans-serif";
  text-decoration: none;
  line-height: 26px;
  font-size: 20px;
}
.top-news-link:hover {
  color: #7296EC;
}
.top-news-link:active {
  opacity: 0.6;
}
.top-news-text {
  color: #4a4b4c;
  line-height: 22px;
}
.top-news-img {
  display: block;
  width: 360px;
  height: 165px;
  object-fit: cover;
  margin-bottom: 15px;
}
.top-news-footer {
  display: flex;
}

.top-news-footer-icon-text {
  display: flex;
}
.top-news-footer-icon-text-link {
  margin-left: 10px;
  font-size: 12px;
}
.data-time {
  font-size: 12px;
  margin-left: 3px;
}


/* NOTIFICIONS */
.button {
  border: 0;
  width: 149px;
  height: 50px;
  padding: 5px 3px;
  background-color:  #F78B3B;
  color: #fff;
  border-radius: 10px;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}
.button-grey {
  padding-top: 13px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: 0;
  width: 149px;
  height: 50px;
  padding: 5px 3px;
  background-color: #EAEAEA;
  color: #000;
  border-radius: 10px;
  }




.button-grey:hover {
  opacity: 0.8;
}
.button-grey:active {
  opacity: 0.6;
}
.button-block {
  display: block;
  width: 100%;
}
.notification {
  margin-top: 30px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd7ba ;
  padding-left: 35px;
  padding-right: 75px;
  width: 1050px;
  height: 100px;
  border-radius: 10px;
  background-image: url(../html-css/img/Group\ 35\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.notification-text {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}


/* news-2 */
.news-2-header {
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.news-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.news-2 {
  display: flex;
  align-items: flex-start;
  padding: 20px 20px;
  background-color: #f6f6f6;
  border-radius: 15px;

}
.news-2-img {
  width: 210px;
  height: 165px;
  border-radius: 10px;
  object-fit: cover;
}
.news-2-content {
  flex-grow: 1;
  padding-left: 20px;
}
.news-2-title {
  margin-bottom: 10px;
  text-decoration: none;
}
.news-2-title-item {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}
.news-2-title-item:hover {
  color: #2959ce;
}
.news-2-title-item:active {
  opacity: 0.6;
}
.news-2-title-text {
  color: #4a4b4c;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.news-2-footer {
  display: flex;
  align-items: center;
}
.news-2-footer-img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
  border-radius: 5px;
  object-fit: cover;
}
.news-2-footer-name {
  color: #5E5F61;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}
.news-2-footer-date {
  color: #5E5F61;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}
/* sitebar */
.sitebar {
  width: 393px;
}


/*sitebar-news-cart  */
.sitebar-news-cart {
  background-color: #f6f6f6;
  color: #000;
  padding: 20px 20px;
  border-radius: 15px;
}
.sitebar-news-cart-header {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 500;
}
.sitebar-news-cart-list {
  padding: 0;
  margin: 0;
  list-style: none;

}
.sitebar-news-card-iteam {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sitebar-news-card-iteam:first-child {
  padding-top: 0;
}
.sitebar-news-card-iteam:last-child {
  padding-bottom: 0;
}
.sitebar-news-card-iteam:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
}
.sitebar-news-cart-team-title {
  margin-top: 0;
  margin-bottom: 8px;
}
.sitebar-news-cart-team-title-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.sitebar-news-cart-team-title-item:hover {
  color: #2959ce;
}
.sitebar-news-cart-team-title-item:active {
  opacity: 0.6;
}

/* SIte footer */
.site-footer {
  background-color: #7297EF;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}
.site-logo-link {
  display: flex;
}
.site-logo-link-item {
  display: flex;
  margin-bottom: 10px;
}
.site-logo-link-item:hover {
  opacity: 0.8;
}
.site-logo-link-item:active {
  opacity: 0.6;
}
.site-logo-icon-item {
  width: 264px;
  height: 28px;
  object-fit: contain;
}
.site-footer-infos {
  display: flex;
}
.site-footer-info {
  font-size: 12px;
  line-height: 19px;
  margin-right: 203px;
  width: 229px;
  height: 95px;
}
.site-footer-linkss {
  display: flex;

}
.site-footer-links-list {
  list-style: none;
  margin-right: 100px;
}
.site-footer-list-item {
  padding-bottom: 10px;
}
.site-footer-item {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}
.site-footer-item:hover {
  opacity: 0.8
}
.site-footer-item:active {
  opacity: 0.6;
}
.site-footer-hr {
  background-color: #CECECE;
  color: #CECECE;
  margin-bottom: 25px;
}
.site-footer-about-link {
  display: flex;
}
.site-footer-about {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-right: 800px;
}

.site-footer-wb-list {
  display: flex;
  list-style: none;
}
.site-footer-wb-list-item {
}
.site-footer-wb-item-link {
  margin-left: 20px;
}

/* retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
.notification {
  background-image: url(../html-css/img/Group\ 35\ 1@2x.jpg);
}
}